<mat-grid-list cols="1" rowHeight="250px" dir="ltr">
    <mat-grid-tile>
        <mat-card dir="ltr" class="example-card" style="margin: 8px; border-radius: 8px; width: 70%; height: auto;">
            <mat-card-title style="font-size: 1.3rem; text-align: center;">import new users file</mat-card-title>
            <br>
            <mat-card-content>
                <app-excel-uploader [uploadType]="'users'"></app-excel-uploader>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>