<div *ngIf="addImgFlag">
  <div>
    <div style="text-align: center; ">
      <form [formGroup]="imgFormGroup" (ngSubmit)="onSubmitFile()" style="margin: auto;">
        <input type="file" (change)="onSelectFile($event)" accept="image/png, image/jpg, image/jpeg">
        <button *ngIf="fileName !== '' " mat-flat-button style="background-color: #2b8b68; color: white;"
          type="submit">upload image
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </form>
    </div>
    <div>
      <mat-toolbar *ngIf="currentFile" class="progress-bar">
        <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
        <span class="progress">{{ progress }}%</span>
      </mat-toolbar>
    </div>
  </div>
  <br>
  <div *ngIf="fileName !== '' && message"
    [ngClass]="{'messageSuccess': uploadDone === true, 'messageFailed': uploadDone === false}">
    {{ message }}
  </div>
</div>
<div *ngIf="images !== 0 else noImgMsg">
  <div *ngIf="!isLoading else loading" class="containerCard">
    <mat-card *ngFor="let image of images" dir="ltr" class="matCard">
      <mat-card-content>
        <img mat-card-image class="imgClass" style="cursor: zoom-in;"
          (click)="openImage(fileSrc + '/' + image.image_name)" [src]="fileSrc + '/' + image.image_name"
          mat-card-xl-image>
      </mat-card-content>
      <mat-card-actions *ngIf="addImgFlag" dir="ltr" style="text-align: center; ">
        <button mat-mini-fab color="warn" style="margin: auto;"
          (click)="deleteImage(requestNo + '/' + image.image_name)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #noImgMsg>
  <p class="subjectFont"><b>there are no files.</b></p>
</ng-template>

<ng-template #loading>
  <mat-spinner style="margin-inline: auto;"></mat-spinner>
</ng-template>