<mat-grid-list cols="1" rowHeight="250px" dir="rtl">
    <mat-grid-tile>
        <mat-card dir="rtl" class="example-card" style="margin: 8px; border-radius: 8px; width: 100%; height: auto;">
            <mat-card-title style="font-size: 1.3rem; text-align: center;">import requests file</mat-card-title>
            <br>
            <mat-card-content>
                <app-excel-uploader [uploadType]="'requests'"></app-excel-uploader>
            </mat-card-content>
        </mat-card>
        <mat-card dir="rtl" class="example-card" style="margin: 8px; border-radius: 8px; width: 100%; height: auto;">
            <mat-card-title style="font-size: 1.3rem; text-align: center;">import items file</mat-card-title>
            <br>
            <mat-card-content>
                <app-excel-uploader [uploadType]="'items'"></app-excel-uploader>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>