<mat-toolbar class="position-fixed">
    <mat-toolbar-row style="color: white;">
        <button mat-icon-button [matMenuTriggerFor]="setting">
            <mat-icon>account_circle</mat-icon>
        </button>

        <a class="company-name" style="cursor: pointer;" [matMenuTriggerFor]="setting"
            *ngIf="companyName.length >=42">...
        </a>
        <p class="company-name" *ngIf="companyName" [matMenuTriggerFor]="setting"
            style="cursor: pointer; width: 23%; margin: 0;">
            hello {{companyName | slice:0:40}}</p>

        <span class="example-spacer"></span>
        <p *ngIf="adminFlag === 3" style="font-size: 30px; margin: 0;">requests permits</p>
        <button mat-icon-button [matMenuTriggerFor]="setting2" class="small-screen"
            *ngIf="adminFlag === 1 || adminFlag === 4">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="large-screen">
            <a *ngIf="adminFlag === 1 || adminFlag === 4" mat-button class="btnClass" [routerLink]="'/inquiry'"
                routerLinkActive="active">
                <mat-icon>search</mat-icon> inquiry
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="btnClass" [routerLink]="'/notification'"
                routerLinkActive="active">
                <mat-icon>notifications</mat-icon> notifications
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="btnClass" [routerLink]="'/company'" routerLinkActive="active">
                <mat-icon>group</mat-icon> companies
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="btnClass" [routerLink]="'/export-import'"
                routerLinkActive="active">
                <mat-icon>import_export</mat-icon>export and import files
            </a>
        </div>

        <mat-menu #setting2="matMenu" class="small-screen">
            <a *ngIf="adminFlag === 1 || adminFlag === 4" mat-button class="menuClass" [routerLink]="'/inquiry'"
                routerLinkActive="active">
                <mat-icon>search</mat-icon> inquiry
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="menuClass" [routerLink]="'/notification'"
                routerLinkActive="active">
                <mat-icon>notifications</mat-icon> notifications
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="menuClass" [routerLink]="'/company'" routerLinkActive="active">
                <mat-icon>group</mat-icon> companies
            </a>
            <a *ngIf="adminFlag === 1" mat-button class="menuClass" [routerLink]="'/export-import'"
                routerLinkActive="active">
                <mat-icon>import_export</mat-icon>export and import files
            </a>
        </mat-menu>



        <mat-menu #setting="matMenu" style="background-color: #0e0d0d;">
            <button mat-menu-item style="text-align: right; font-size: large;" (click)="openPassModal()">
                <mat-icon style="margin: 0;">lock_open</mat-icon>
                change password
            </button>
            <button mat-menu-item style="text-align: right; font-size: large;" (click)="logout()">
                <mat-icon style="transform: rotate(180deg); margin: 0;">exit_to_app</mat-icon>
                logout
            </button>
        </mat-menu>
    </mat-toolbar-row>

</mat-toolbar>
<br><br><br><br>
<app-marquee></app-marquee>