.form-style {
    width: 97%;
}

.headerStyle {
    font-size: large;
    color: black;
}

.mat-row:hover {
    background: rgb(127 199 123 / 20%);
}

.mat-row-is-clicked {
    font-weight: bold;
    background: rgb(127 199 123 / 20%);
}

.mat-elevation-z8 {
    width: 97%;
}

.mat-grid-tile-content {
    align-items: baseline;
}

tr.mat-header-row {
    height: 56px;
    background-color: whitesmoke;
}

.formContainer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

.formField{
    width: 25%;
}

.tableContainer{
    width: 75%;
}

@media (max-width: 1150px) {
    .formContainer{
        flex-direction: column;
    }
    
    .formField{
        width: 100%;
    }

    .form-style {
        width: 100%;
    }
    
    .tableContainer{
        width: 100%;
        position: relative;
        overflow: auto;
    }
  }