<mat-card class="main-card">
    <nav mat-tab-nav-bar ngClass = "tabs" (selectedTabChange)="reset()" dir="ltr" dynamicHeight 
        style="font-size: large;">
       <a mat-tab-link *ngFor="let link of tabLinks"
            routerLink="{{ link.path }}"
            (click)="activelink = link.path; getCount();"
            [active]="activelink == link.path"
            style="font-size: large;">
            <span matBadge="{{ link.count }}" matBadgeColor="warn">{{ link.label }}</span>
        </a>
    </nav>
    <router-outlet></router-outlet>
</mat-card>
<app-footer></app-footer>