<mat-accordion dir="rtl" class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: large;">
                Primary informations of the request
            </mat-panel-title>
            <mat-panel-description dir="ltr">
                <mat-icon>edit</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="example-container" *ngIf="!isLoading else loading">
            <br>
            <form (ngSubmit)="newReqStatus? updateRequest() : addRequest() " [formGroup]="firstFormGroup">
                <div *ngIf="newRequestNO">
                    <p style="font-size: 25px; color: #2b8b68">request number: {{ newRequestNO }}</p>
                </div>
                <div>
                    <mat-form-field class="formFieldClass" appearance="fill">
                        <mat-label>الموضوع </mat-label>
                        <textarea matInput formControlName="subject" placeholder="subject"></textarea>
                        <mat-error *ngIf="this.firstFormGroup.get('subject')?.invalid">
                            {{ showErrorMsg('subject') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formFieldClass" appearance="fill">
                        <mat-label>address </mat-label>
                        <textarea matInput formControlName="address" placeholder="the address you want to reach">
                        </textarea>
                        <mat-error *ngIf="this.firstFormGroup.get('address')?.invalid">
                            {{ showErrorMsg('address') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="formFieldClass" appearance="fill">
                        <mat-label>gate</mat-label>
                        <mat-select formControlName="pass_id">
                            <mat-option *ngFor="let pass of passes" value={{pass.pass_id}}>
                                {{ pass.pass_name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.firstFormGroup.get('pass_id')?.invalid">
                            {{ showErrorMsg('pass_id') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formFieldClass" appearance="fill">
                        <mat-label>notes </mat-label>
                        <textarea matInput formControlName="r_notes" placeholder="notes if exist"></textarea>
                        <mat-error *ngIf="this.firstFormGroup.get('r_notes')?.invalid">
                            {{ showErrorMsg('r_notes') }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <br>
                <mat-action-row style="justify-content: space-between;">
                    <button mat-raised-button style="font-size: large; background-color: #f5f5f5; margin: 10px;">
                        {{ newReqStatus? 'update' : 'save' }}
                    </button>
                    <button type="button" mat-raised-button
                        style="font-size: large; background-color: #f5f5f5;margin: 10px;" (click)="nextStep()"
                        title="request must be saved first before going to the next step"
                        [disabled]="!newReqStatus ? true : null"
                        aria-label="request must be saved first before going to the next step">
                        next
                    </button>
                </mat-action-row>
            </form>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle
        [disabled]="!newReqStatus ? true : null">
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: large;">
                items informations
            </mat-panel-title>
            <mat-panel-description dir="ltr">
                <mat-icon>description</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-stepper [linear]="false" #stepper [orientation]="(stepperOrientation | async)!"
            (click)="stepperClick(stepper.selectedIndex)">
            <mat-step>
                <br>
                <ng-template matStepLabel> items </ng-template>
                <app-add-item *ngIf="newRequestNO" [newRequestNO]="newRequestNO"></app-add-item>
            </mat-step>
            <mat-step>
                <br>
                <ng-template matStepLabel>items that not exist in the list</ng-template>
                <app-add-extra-item *ngIf="(newRequestNO && stepperIndex == 1 ) || stepperIndex1 == true"
                    [newRequestNO]="newRequestNO">
                </app-add-extra-item>
            </mat-step>
            <mat-step>
                <br>
                <ng-template matStepLabel>files</ng-template>
                <app-file-uploader *ngIf="(newRequestNO && stepperIndex == 2) || stepperIndex2 == true"
                    [requestNo]="newRequestNO" [addImgFlag]="true">
                </app-file-uploader>
            </mat-step>
            <mat-step>
                <div style="background-color: rgb(238, 237, 243); border-radius: 35px;">
                    <br>
                    <ng-template matStepLabel>send request</ng-template>
                    <p style="text-align: center; font-size: x-large;">you have been done from the request successfully
                    </p>
                    <img src="assets/7.gif" oncontextmenu="return false;" class="login-lock-icon" alt="">
                    <div style="text-align: center; font-size: x-large;">
                        <button mat-raised-button type="button" [disabled]="requestSent"
                            style="font-size: large; background-color: #f5f5f5;margin: 10px;"
                            (click)="countReqeustItems(newRequestNO)">send request
                        </button>
                        <mat-error *ngIf="noItemsMsg" style="margin-right: 1%;">*add at least one item!</mat-error>
                        <mat-error *ngIf="!noItemsMsg" style="margin-right: 1%;">
                            *if you sent the request, you will not be able to update the request any more!
                        </mat-error>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
        <mat-action-row>
            <button mat-raised-button style="font-size: large; background-color: #f5f5f5;margin: 10px;"
                (click)="prevStep()">previous
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #loading>
    <mat-spinner style="margin-inline: auto; height: 400px;"></mat-spinner>
</ng-template>