<mat-card dir="rtl" class="example-card"
    style="margin: auto; border-radius: 8px; width: 70%; height: auto; background-color: #f9f9f9; min-height: 76%;">
    <br>
    <div></div>
    <h1 style="text-align: center; font-size: 30px; font-weight: bold;">Users Control
        <mat-icon style="font-size: 100%;">group</mat-icon>
    </h1>
    <div style="width: 80%; margin: auto;" class="mat-elevation-z8">
        <mat-form-field style="width: 100%;">
            <mat-label style="font-size: large; margin-right: 1%;">search</mat-label>
            <input matInput (keyup)="searchCompany($event)" #input>
        </mat-form-field>
        <table *ngIf="!isLoading else loading" style="width: 100%;" dir="rtl" mat-table [dataSource]="dataSource"
            class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="company_name">
                <th style="width: 45%;" mat-header-cell *matHeaderCellDef mat-sort-header class="headerStyle">company name</th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
            </ng-container>
            <ng-container matColumnDef="user_name">
                <th style="width: 35%;" mat-header-cell *matHeaderCellDef mat-sort-header class="headerStyle">user name</th>
                <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
            </ng-container>
            <ng-container matColumnDef="active">
                <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header class="headerStyle">control</th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle color="warn" [checked]="element.active === 1 ? true : false"
                        (change)="changeActiveFlag(element, $event)"></mat-slide-toggle>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <br>
</mat-card>
<app-footer></app-footer>
<ng-template #loading>
    <mat-spinner style="margin-inline: auto;"></mat-spinner>
</ng-template>