<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <h1 style="text-align: center; font-family: cursive; font-size: 1.5rem;">PERMITS REQUESTS</h1>
    </div>
    <form (ngSubmit)="login()" [formGroup]="loginFormGroup" #formDirective="ngForm" class="example-form">
      <div class="form-body" dir="ltr">
        <mat-form-field class="justifier">
          <input matInput placeholder="email" formControlName="email" type="email" required class="form-input"
            style="width: 90%;">
          <mat-icon style="width: 10%; text-align: start;">person</mat-icon>
          <mat-error *ngIf="this.loginFormGroup.get('email')?.hasError('email')">
            please enter a valid mail
          </mat-error>
        </mat-form-field>
        <mat-form-field class="justifier">
          <input matInput (keyup.enter)="login()" placeholder="password" formControlName="password"
            [type]="hide ? 'password' : 'text'" required class="form-input" style="width: 90%;">
          <mat-icon style="width: 10%; text-align: start;" (click)="hide = !hide">
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-hint *ngIf="invalidUser" style="font-size: 1.1em; color: red;">*wrong mail or password</mat-hint>
          <br>
        </mat-form-field>
      </div>
    </form>

    <div class="form-footer">
      <div *ngIf="flag === false">
        <button (click)="login()" mat-raised-button class="btn custom-btn">
          <mat-icon>input</mat-icon> login
        </button>
      </div>

      <div *ngIf="flag === true">
        <img src="./../../assets/gif/7.gif" class="login-lock-icon" alt="">
      </div>
    </div>
  </div>
</div>