body {
    margin: 0px !important;
    overflow: hidden;

}

.add-btn {
    position: fixed;
    right: 25px;
    bottom: 20Px;
}

/** form **/
.form-wraper {
    width: 100%;
    height: 100%;
    background: url('../../assets/Pngtree3.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.form-container {
    width: 25%;
    margin: auto;
    padding-bottom: 24px !important;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #ffffff;
}

.form-header {
    padding: 24px 0;
}

.form-title {
    text-align: center;
    font-weight: 200;
    font-size: 2.5em;
}

.main-lock-icon {
    width: 30%;
    margin: 5px auto;
    display: block;
}

.login-lock-icon {
    width: 83%;
    margin: 5px auto;
    display: block;
}

.form-body {
    padding: 0 24px;
}

.justifier {
    width: 10%;
    font-size: 1.2em;
    display: contents !important;
}

.form-input {
    margin-top: 24px;
}

.form-footer {
    padding: 24px;
}

.btn {
    display: block;
    width: 100%;
    padding: 5% !important;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 18px;
    background-color: #e7e1e1;
}

.custom-btn {
    margin-bottom: 15px;
    background: #2b8b68;
    color: #fff;
}

.txt {
    text-align: center;
    color: #333;
    margin: 10px auto !important;
    font-size: 1.5em;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: rgb(42, 125, 219);
}

@media (min-width: 1281px) {
    .form-container {
        width: 20%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .form-container {
        width: 25%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .form-container {
        width: 35%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {
    .form-container {
        width: 50%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    .form-container {
        width: 65%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }
}

@media (min-width: 1px) and (max-width: 300px) {
    .form-container {
        width: 100%;
        margin: auto;
        padding-bottom: 24px !important;
        display: block;
    }

}