<mat-card dir="rtl" class="example-card" style="margin: 8px; border-radius: 8px; width: 100%; height: 85%;">
    <mat-card-title style="font-size: 1.3rem;">طلب رقم : {{ request.request_number }}</mat-card-title>
    <mat-card-subtitle style="margin-top: 3%; font-size: large;">{{ request.pass_id }}</mat-card-subtitle>
    <mat-card-content>
        <p style="font-size: 1rem;"> {{ request.subject }}</p>
        <p style="font-size: 1.1rem; font-weight: 500;">بتاريخ : {{ request.request_date }}</p>
        <p style="font-size: 1.1rem; font-weight: 500;">العنوان : {{ request.address }}</p>
        <p style="font-size: 1.1rem; font-weight: 500;">ملاحظات : {{ request.notes }}</p>
        <p style="font-size: 1.1rem; font-weight: 500;">حالة الطلب : {{ request.request_status }}</p>

    </mat-card-content>
    <mat-card-footer dir="ltr">
        <button (click)="goBack()" mat-button style="font-size: large;">عوده</button>
    </mat-card-footer>
</mat-card>