<mat-grid-list cols="1" rowHeight="360px">
    <mat-grid-tile *ngFor="let request of requests">
        <mat-card dir="rtl" class="example-card" style="margin: 8px; border-radius: 8px; width: 100%; height: 85%;">
            <mat-card-title style="font-size: 1.3rem;">طلب رقم : {{ request.request_number }}</mat-card-title>
            <mat-card-subtitle style="margin-top: 3%; font-size: large;">{{ request.pass_id }}</mat-card-subtitle>
            <mat-card-content>
                <p style="font-size: 1rem;"> {{ request.subject }}</p>
                <p style="font-size: 1.1rem; font-weight: 500;">بتاريخ : {{ request.request_date }}</p>

                <mat-stepper linear [selectedIndex]='request.request_status_id' #stepper>
                    <!-- <mat-step [hidden]="true" [editable]="false"></mat-step> -->

                    <mat-step [completed]='request.request_status_id === 1 || request.request_status_id === 2 ? true: false' [stepControl]="firstFormGroup" [editable]="false">
                        <ng-template matStepLabel>تم الإرسال</ng-template>
                    </mat-step>

                    <mat-step [completed]='request.request_status_id === 2 ? true: false' [stepControl]="secondFormGroup" [editable]="false">
                        <ng-template matStepLabel>تحت التنفيذ</ng-template>
                    </mat-step>

                    <mat-step [editable]='false'>
                        <ng-template matStepLabel>تم الرد</ng-template>
                    </mat-step>
                </mat-stepper>

            </mat-card-content>
            <mat-card-footer dir="ltr">
                <button (click)="seeDetails(request.id)" mat-button style="font-size: large;">...التفاصيل</button>
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>