<br><br>
    <mat-card dir="ltr" class="example-card"
    style="margin: auto; border-radius: 8px; width: 70%; height: auto; background-color: #f9f9f9;">
    <br>
    <h1 style="text-align: center; font-size: 30px; font-weight: bold;"> Export and import files 
        <mat-icon style="font-size: 100%;">import_export</mat-icon>
    </h1>
    <div style="width: 85%; margin: auto; border-radius: 20px; background-color: white;">
        <nav mat-tab-nav-bar ngClass="tabs" (selectedTabChange)="getCount()" mat-align-tabs="center" dir="ltr"
            dynamicHeight style="font-size: large;"
        >
        <a mat-tab-link *ngFor="let link of tabLinks"
            routerLink="{{ link.path }}"
            (click)="activelink = link.path; getCount();"
            [active]="activelink == link.path"
            style="font-size: large;">
            <span matBadge="{{ link.count }}" matBadgeColor="warn">{{ link.label }}</span>
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
</mat-card>
<app-footer></app-footer>
