.mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: large !important;
}

.main-card {
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-left: 18%;
    margin-right: 18%;
}
.mat-badge + .mat-badge {
    margin-top: 16px;
    left: auto !important;
    right: auto;
}

.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: auto;
    left: auto;
}