<br><br>
<mat-card dir="ltr" class="example-card"
    style="margin: auto; border-radius: 8px; width: 70%; height: auto; background-color: #f9f9f9;">
    <br>
    <h1 style="text-align: center; font-size: 30px; font-weight: bold;">inquiry
        <mat-icon style="font-size: 100%;">search</mat-icon>
    </h1>
    <div>
        <form *ngIf="!detailStatus else detail" (ngSubmit)="searchReq()" [formGroup]="firstFormGroup"
            style="margin: auto; text-align: center;">
            <mat-form-field style="margin-left: 1%; margin-right: 1%; width:15%;" dir="ltr" appearance="fill">
                <mat-label>search with request number</mat-label>
                <input type="number" matInput formControlName="search" placeholder="request number">
            </mat-form-field>
            <button type="submit" mat-raised-button style="font-size: large; background-color: #f5f5f5; margin: 10px;"
                (keyup.enter)="searchReq()">search
            </button>
        </form>
        <p *ngIf="this.wrongNo === true" style="text-align: center; color: #db0f00; font-size: large;">
            request number is incorrect
        </p>
    </div>
</mat-card>
<app-footer></app-footer>

<ng-template #detail>
    <app-request-detail *ngIf="requestNo" [requestNo]="requestNo" [isCompletedReq]="true" [inquiryFlag]="true">
    </app-request-detail>
</ng-template>

<ng-template #loading>
    <mat-spinner style="margin-inline: auto;"></mat-spinner>
</ng-template>