.mat-tab-label {
    font-size: large;
}

.toggleButton {
    border-radius: 8px;
    border-color: #a3a3a3;
    border-width: thin;
}

.acceptClass {
    color: #698750 !important;
    background-color: #e1ffc5 !important;
    border: #698750;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    font-weight: bold;
}

.refusedClass {
    color: #973838!important;
    background-color: #ffd3d3 !important;
    border: #973838;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    font-weight: bold;
}

.partialAcceptClass {
    color: #3e82a9 !important;
    background-color: #d3f1ff !important;
    border: #3e82a9;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    font-weight: bold;
}

.containerCard {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.matCard{
    margin: 1% auto;
    border-radius: 8px;
    height: auto; width: 44%;
    float: left; 
}

.headerFont {
    font-size: 19px;
    color: black;
}

.subjectFont {
    font-size: 18px;
    color: #484848;
}

@media (max-width: 1122px) {
    .matCard{
        height: auto; width: 94%;
    }
  }

  @media (max-width: 480px) {
    .toggleButton{
        display: grid;
    }
  }