<mat-card class="main-card">
    <mat-tab-group (selectedTabChange)="reset()" dir="rtl" dynamicHeight style="font-size: large;">
        <mat-tab style="font-size: large;" label="طلبات تحت التنفيذ" class="mat-tab-label">
            <br>
            <app-pending-request *ngIf="!detailStatus"> </app-pending-request>
            <app-request-detail *ngIf="detailStatus"></app-request-detail>
        </mat-tab>
        <mat-tab style="font-size: large;" label=" طلبات منتهية">
            <br>
            <app-completed-request *ngIf="!detailStatus"></app-completed-request>
            <app-request-detail *ngIf="detailStatus"></app-request-detail>
        </mat-tab>
    </mat-tab-group>
</mat-card>